 <h1>{{title}}</h1>
 <h2>{{formatAuthor author}}</h2>
 <p>{{summary}}</p>
 {{#if comments}}
 <h3>Comments</h3>
 {{#each comments}}
 <p>
 <b>Email:</b> {{email}}<br>
 <b>Comment: </b> {{content}}
 </p>
 {{/each}}
 <br>
 {{else}}<h3>No comments</h3>{{/if}}
<a onclick="{{addComment_onclick}}(event);" href="/webapp/views/view/book/{{id}}/addComment">Add Comment</a> <hr>